.product_image {
  width: 50px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.total_card {
  background-color: rgb(240, 240, 240);
  height: 500px;
  box-shadow: 0px 0px 5px rgb(172, 172, 172);
  border-radius: 10px;
}
.card-title {
  font-family: 'Poppins', sans-serif ;
  font-size: 22px;
}
.card-text {
  font-size: 20px;
}
.card-btn {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 10px 80px 10px 80px;
  color: #fff;
  background-color: #ee9f00;
  border: 1px solid #ee9f00;
  border-radius: 10px;
  
}

.card-btn:hover {
  cursor: pointer;
  color: #ee9f00;
  background-color: #e0dfdd;
}



/* For Tablet Device  */
@media screen and (max-width:768px) {
  
}

/* For Mobile Device  */
@media screen and (max-width:425px) {
  
  .total_card {
    height: 550px;
  }

  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 18px;
  }

  .card-btn {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    
  }

}